<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<typeAliases>
		  <package name="com.xg.model"/>
	</typeAliases>
	<mappers>
		<mapper resource="com/xg/mapper/CategoryMapper.xml" /> 
		<mapper resource="com/xg/mapper/AdminMapper.xml" /> 
		<mapper resource="com/xg/mapper/NewsMapper.xml" /> 
		<mapper resource="com/xg/mapper/ExampleMapper.xml" /> 
		<mapper resource="com/xg/mapper/ConstantMapper.xml" /> 
		<mapper resource="com/xg/mapper/DynamicCirculateMapper.xml" /> 
		<mapper resource="com/xg/mapper/TeamMapper.xml" /> 
		<mapper resource="com/xg/mapper/StaticTextMapper.xml" /> 
	</mappers>
</configuration>  