#container{
	width: 1660px;
	height: 1910px;
	padding-left: 250px;
	padding-top: 40px;
	margin-right: auto;
	margin-left: auto;
    filter: progid:DXImageTransform.Microsoft.shadow(direction=120, color=#000000, strength=4);
}
